$maintext:#cbc6cc;
$secondarytext: #8b7f95;
$primary:#12061e;
$secondary:#231236;
$white:#fff;
$black:#000000;
$violet: #6b43c0;
$violetlight:#7a26af;
$violetdark:#32195a;
$purpletlight: #c590e6;
$pink:#f0445e;

$z-index-sidebar: 1000;
$z-index-header:  1000;


$sidebar-width: 200px;

$view-height: 400px;




$tablet-bp: 991px;

$mobile-bp: 575px;
