.blog__intro {
    padding-top: calc(#{$header-height} + 90px);
    position: relative;
    margin-bottom: 130px;
}

.blog__intro__bg {
    position: absolute;
    height: 300px;
    z-index: -1;

    width: 100%;
    top: 0;
    left: 0;

    img {
        @include image-options;
    }
}

.blog__page__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__nav__link {
    font-size: $h3;
    color: $non-active;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    background-color: transparent;

    transition: color .2s ease;

    &:not(:last-child) {
        border-right: 1.5px solid $non-active;
    }

    &.active {
        color: $pink;
    }

    &:hover {
        color: $pink;
    }
}

.blog__inner {
    display: flex;
    margin-bottom: 50px;
}

.blog__title {
    @include title($h4);
    color: $maintext;
    margin-top: 0;
    margin-bottom: 35px;
}

.blog__text {
    @include main-text;
    margin-top: 0;
}




// Pagination

.blog__pagination {
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.pagination__list {
    list-style: none;
    padding: 0;
    margin: 0 10px;

    display: flex;
    justify-content: center;
}

.pagination__list__item {
    border: 1px solid $non-active;

    padding: 10px 15px;
    margin: 5px;

    @include main-text;

    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        color: $bodybackground;
        background: $secondary;
        border: 1px solid $secondary;
    }

    &.active {
        color: $bodybackground;
        background: $secondary;
        border: 1px solid $secondary;
    }
}

.pagination__btn {
    border: 1px solid $non-active;
    background: transparent;
    min-width: 85px;

    padding: 10px 15px;
    margin: 5px;

    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        color: $bodybackground;
        background: $secondary;
        border: 1px solid $secondary;
    }
}
