
.blog__content {
    width: 70%;

    display: flex;
    flex-direction: column;

    padding: 5px;

    @include breakpoint($tablet-bp) {
        width: 100%;
    }
}

.blog__content__item {
    display: flex;
    margin-bottom: 40px;

    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 15px rgba(0,0,0,0.2);
    }

    &:hover .content__item__image img {
        transform: scale(1.2);
    }

    @include breakpoint($mobile-bp) {
        display: block;
    }
}

.content__item__picture,
.content__item__text {
    width: 50%;

    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}

.content__item__text {
    padding: 10px 20px 10px 40px;

    h3 {
        margin-top: 10px;
    }

    @include breakpoint($mobile-bp) {
        padding-left: 15px;
    }
}

.content__item__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint($mobile-bp) {
        margin-bottom: 10px;
    }
}

.content__item__image {
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
        @include image-options;
        transition: all .8s ease;
    }

    @include breakpoint($mobile-bp-small) {
        height: 200px;
    }
}

.content__item__categories {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        list-style: none;
        padding: 0;
        margin: 0px;

        li {
            margin: 5px;
            padding: 5px;
            color: $secondary;
            text-transform: uppercase;
        }
    }

    @include breakpoint($mobile-bp) {
        ul {
            justify-content: left;

            li {
                padding-left: 0px;
                margin-left: 0;
            }
        }
    }
}

