.blog__menu {
    width: 30%;

    display: flex;
    flex-direction: column;

    margin-right: 20px;
    padding: 5px;

    @include breakpoint($tablet-bp) {
        display: flex;
        align-items: center;
        overflow-y: auto;

        width: 0%;
        height: 100%;
        margin-right: 0;
        padding-bottom: 20px;
        padding-top: calc(#{$header-height});

        position: fixed;
        top: 0;
        left: -10px;
        z-index: 900;

        box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
        background-color: $secondary-header;
        transition: all .4s ease;

        &.active {
            width: 48%;
            left: 0;
        }
    }

    @include breakpoint($mobile-bp) {
        &.active {
            width: 100%;
            padding-left: 20px;
        }
    }  
}

.blog__menu__item {
    padding: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid $non-active;
        margin-bottom: 20px;
        padding-bottom: 50px;
    }
    &:not(:first-child) {
        padding-top: 20px;
    }
    &::last-child {
        padding-bottom: 20px;
    }

    @include breakpoint($tablet-bp) {
        width: 310px;

        &:not(:last-child) {
            margin-bottom: 10px;
            padding-bottom: 30px;
        }
        &:not(:first-child) {
            padding-top: 10px;
        }
    }

    @include breakpoint($mobile-bp) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.search__form__wrapper {
    position: relative;

    width: 100%;
    min-width: 250px;
}

.menu__item__wrapper {
    display: flex;

    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}

.menu__categories,
.menu__tags,
.menu__arh {
    width: 50%;
}

.menu__categories,
.menu__arh--left {
    margin-right: 10px;
}

.menu__tags {
    margin-left: 10px;
}

.menu__list {
    list-style: none;
    padding: 0;

    li {
        @include main-text;
        margin: 5px 0;
        color: $maintext;

        position: relative;
        cursor: pointer;
        transition: right 1s ease, color .2s ease;
        right: 0;
    
        &:hover {
            color: $pink;
            right: -30px;
        }

        &.active {
            color: $pink;
            right: -30px;
        }
    }
}

.blog__menu__icon {
    font-size: $maintext;
    color: $pink;
    margin-right: 8px;
}

.recent__posts {
    list-style: none;
    padding: 0;
}

.recent__post__item {
    margin: 15px 0;

    a {
        text-decoration: none;
        @include title-pink($maintext);
        position: relative;
        padding-bottom: 5px;

        &:after {
            content: "";
            width: 0%;
            height: 2px;
            background-color: $pink;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: all 0.4s ease;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

