.post__comments {
    margin-bottom: 100px;
    border-bottom: 1px solid  $non-active;
}

.comments {
    list-style: none;
    padding: 0;
}

.comment__item {
    display: flex;
}

.comment__avatar {
    min-width: 100px;
    height: 100px;

    margin-right: 20px;
    
    img {
        @include image-options;
        border-radius: 50%;
    }
}

.comment__header {
    display: flex;
}

.comment__name {
    @include title($h5);
    color: $secondary;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.comment__time {
    @include title($maintext);
    font-weight: 400;
    color: $non-active;
    padding: 5px;
    display: flex;
    align-items: center;
}

.comment__text {
    p {
        @include main-text;
    margin: 15px 0;
    }
}

.comment__reply {
    margin-bottom: 50px;
}

.reply__button {
    border: none;
    background-color: transparent;
    padding: 5px;

    @include main-text;
    color: $secondary;

    cursor: pointer;
}

.comment__icon {
    margin-right: 10px;
    @include main-text;
    color: $secondary;
}

.btn__comments {
    padding: 3px 10px;
    background-color: $secondary;
    border: none;

    min-width: 80px;
    min-height: 30px;
    
    letter-spacing: 1.2px;
    font-size: $secondtextsize;
    color: $bodybackground;
    opacity: .7;

    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        opacity: 1;
    }

    &--page {
        position: absolute;
        left: -10px;
        top: -40px;
    }
}