.container,
.blog__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;

    position: relative;
}

.blog__container {
    @include breakpoint($mobile-bp-thin) {
        padding: 0 10px;
    }
}


@media(max-width: 1800px) {
    .container {
        margin-left: $nav-width;
        padding-left: 85px;

        @include breakpoint($tablet-bp) {
            margin-left: 0;
            padding: 0px 40px;
        }

        @include breakpoint($mobile-bp) {
            padding: 0px 20px;
        }

        @include breakpoint($mobile-bp-thin) {
            padding: 0px 10px;
        }
    }
}

