.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;

    position: relative;
}

@media(max-width: 1800px) {
    .container {
        margin-left: $nav-width;
        padding-left: 85px;
    }

}

