.footer__wave {
    width:100vw;
    bottom:0px;

    height: 250px;
}

svg {
    width:100%;
}

.wave {
    animation: footer-wave 3s linear;
    animation-iteration-count:infinite;
    fill: $secondary;
}

.drop {
    fill: transparent;
    animation: drop 5s ease infinite normal;
    stroke: $secondary;
    stroke-width:0.5;
    opacity:.6; 
    transform: translateY(80%);
}

.drop1 {
    transform-origin: 20px 3px;
}

.drop2 {
    animation-delay: 3s;
    animation-duration:3s;
    transform-origin: 25px 3px;
}

.drop3 {
    animation-delay: -2s;
    animation-duration:3.4s;
    transform-origin: 16px 3px;
}

.gooeff {
    filter: url(#goo);
}

#wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
}

#wave3 {
    animation-duration: 7s;
    opacity:.3;
}

@keyframes footer-wave {
to {transform: translateX(-100%);}
}