.galery {
    margin-bottom: 100px;
}


.galery__filters {
    list-style: none;

    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.services__list__title {
    font-size: $h4;
    color: $non-active;
    padding: 10px 20px;

    cursor: pointer;
    transition: color .2s ease;

    &:not(:last-child) {
        border-right: 1.5px solid $non-active;
    }

    &.active {
        color: $pink;
    }

    &:hover {
        color: $pink;
    }
    
}

.filter__item {
    font-size: $h4;
    color: $non-active;
    padding: 10px 20px;

    cursor: pointer;
    transition: color .2s ease;

    &:not(:last-child) {
        border-right: 1.5px solid $non-active;
    }

    &.active {
        color: $pink;
    }

    &:hover {
        color: $pink;
    }
}

.galery__photo {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.galery__photo__item {
    width: 200px;
    height: 200px;
    margin: 3px;

    cursor: pointer;
    z-index: 1;
    transform: scale(1);
    transition: all .3s;

    & img {
        @include image-options;
    }

    &:hover {
        z-index: 2;
        transform: scale(1.8);
    }
}