.header {
    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-header;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $header-color;

    &__item {
        margin: 0 25px;
        
        @include breakpoint($tablet-bp) {
            display: none;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        @include title-gradient;
        font-size: 20px;

        transition: all .3s ease;

        span {
            padding-left: 10px;
        }

        &:hover {
            @include text-gradient-pink;
        }
    }

    &__logo {
        @include title-gradient;
        font-family: $font-family-extra;
        font-style: italic;
        font-size: 45px;
        font-weight: 600;
        letter-spacing: 1.5px;

        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;

        &__sign {
            font-size: 18px;
            padding-left: 40px;

            @include breakpoint($mobile-bp) {
                font-size: 15px;
                padding-left: 20px;
            }
        }

        @include breakpoint($mobile-bp) {
            font-size: 35px;
            left: 20px;
        }
    }

    &__button {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);

        @include breakpoint($mobile-bp) {
            display: none;
        }
    }

    &__text--right {
        @include breakpoint($laptop-bp) {
            display: none;
        } 
    }

    @include breakpoint($mobile-bp) {
        justify-content: right;
    }
}



