.intro {
    padding-top: calc(#{$header-height} + 50px);
    position: relative;
    margin-bottom: 50px;
    min-height: 100vh;

    @include breakpoint($tablet-bp) {
        padding-top: calc(#{$header-height} + 40px);
        margin-bottom: 30px;
    }

    @include breakpoint($mobile-bp) {
        padding-top: calc(#{$header-height} + 15px);
    }
}

.intro__background {
    position: absolute;
    height: 100vh;
    z-index: -1;

    width: 100%;
    top: 0;
    right: 0;

    img {
        @include image-options;
        opacity: .7;
    }
}

h1 {
    font-family: $font-family-section;
    font-size: $h1;
    color: $maintext;
    line-height: 75px;
    font-weight: 700;
    margin: 10px 0 30px 0;

    @include breakpoint($tablet-bp) {
        font-size: $h2;
    }
    @include breakpoint($mobile-bp) {
        font-size: $h2-mobile;
        line-height: 50px;
        margin: 10px 0 15px 0;
    }
    @include breakpoint($mobile-bp-thin) {
        font-size: $h3;
    }

    @include breakpointHeight($mobile-bp-H) {
        margin: 10px 0 10px 0;
        font-size: $h3;
        line-height: 30px;
    }
}

h4 {
    @include title-pink($maintext);
    padding: 0;
    margin: 20px 0;

    @include breakpoint($mobile-bp) {
        font-size: $secondtextsize;
        margin: 10px 0;
    }

    @include breakpointHeight($mobile-bp-H) {
        font-size: $secondtextsize;
        margin: 5px 0;
    }
}

.h1__gradient {
    @include title-gradient;

    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;

    position: relative;
    overflow: hidden;

    width: 300px;

    font-family: $font-family-extra;
    font-style: italic;

    font-size: 80px;
    font-weight: 600;
    letter-spacing: 1.5px;

    transition: ease 0.3s;

    @include breakpoint($mobile-bp) {
        font-size: 50px;
        width: 190px;
    }
    @include breakpoint($mobile-bp-thin) {
        font-size: 40px;
        width: 160px;
    }

    @include breakpointHeight($mobile-bp-H) {
        font-size: 37px;
        width: 140px;
    }
}

.h1__gradient:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    z-index: 1;

    transition: ease 0.3s;
}

.h1__gradient:after {
    content: "";
    display: block;
    width: 60px;
    height: 300px;
    margin-left: 60px;
    background: #f7e4e0;
    position: absolute;
    filter: blur(30px);
    opacity: .9;
    left: -40px;
    top: -150px;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.1s;
    animation-name: slideme;
    animation-duration: 6s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes slideme { 
    0% { left: -30px; margin-left: 0px; }
    30% { left: 110%; margin-left: 80px; }
    100% { left: 110%; margin-left: 80px; } 
}

.intro__list {
    list-style: none;
    padding: 10px 0;
    margin: 50px 0;

    @include breakpoint($mobile-bp-thin) {
        margin: 20px 0;
    }

    @include breakpointHeight($mobile-bp-H) {
        margin: 10px 0;
    }
}

.intro__list-item {
    @include main-text;

    display: flex;
    justify-content: left;
    align-items: center;

    padding: 3px;

    & img {
        padding-right: 5px;
        width: 30px;
        height: 28px;

        @include breakpointHeight($mobile-bp-H) {
            width: 25px;
            height: 20px;
        }
    }

    @include breakpointHeight($mobile-bp-H) {
        font-size: $secondtextsize;
        line-height: 12px;
        padding: 0px;
    }
}

@include breakpointHeight($mobile-bp-H) {
    .contsiner {
        position: relative;
    }

    .intro__btn {
        position: absolute;
        bottom: 0px;
        right: 0;
    }
}