.intro {
    padding-top: calc(#{$header-height} + 90px);
    position: relative;

    min-height: 100vh;
}

.intro__background {
    position: absolute;
    right: -200px;
    top: -110px;
    z-index: -1;
}

h1 {
    font-family: Rufina serif;
    font-size: $h1;
    color: $title;
    line-height: 75px;
    font-weight: 700;
    margin: 10px 0 30px 0;
}

h4 {
    font-family: Lato serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    color: $pink;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 20px;
}

.h1__gradient {
    @include title-gradient;

    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;

    position: relative;
    overflow: hidden;

    width: 380px;

    font-family: 'Andada Pro', serif;

    font-size: 80px;
    font-weight: 500;
    letter-spacing: 1.5px;

    transition: ease 0.3s;
}

.h1__gradient:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    z-index: 1;

    transition: ease 0.3s;
}

.h1__gradient:after {
    content: "";
    display: block;
    width: 60px;
    height: 300px;
    margin-left: 60px;
    background: $bodybackground;
    position: absolute;
    filter: blur(30px);
    opacity: .9;
    left: -40px;
    top: -150px;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.1s;
    animation-name: slideme;
    animation-duration: 6s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes slideme { 
    0% { left: -30px; margin-left: 0px; }
    30% { left: 110%; margin-left: 80px; }
    100% { left: 110%; margin-left: 80px; } 
}

.intro__list {
    list-style: none;
    padding: 10px 0;
    margin: 50px 0;
}

.intro__list-item {
    @include main-text;

    display: flex;
    justify-content: left;
    align-items: center;

    padding: 3px;

    & img {
        padding-right: 5px;

        width: 30px;
        height: 28px;
    }
}