.modal{
    background-color: $primary-modal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;

    // opacity: 0;
    visibility: hidden;
    // visibility: visible;
    // transition: .3s ease-in-out;

    &.active {
        // opacity: 1;
        visibility: visible;
    }
}

.modal__close {
    width: 45px;
    height: 45px;

    position: absolute;
    top: 15px;
    right: 15px;

    cursor: pointer;
    transition: transform 1s ease;

    img {
        width: 100%;
        height: 100%;
    }

    &:hover {
        transform: rotate(360deg); 
    }
}