.modal-map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        top: -50px;
        right: 0;
    }

    .modal-map__image {
        @include image-options;
        box-shadow: 24px -24px 49px $secondary, -24px 24px 49px $secondary;
    }
}