.navigation {
    position: fixed;
    z-index: $z-index-header;

    margin-top: 160px;

    height: 600px;
    width: $nav-width;

    @include breakpoint($tablet-bp) {
        display: none;
    }
}

.nav__list {
    list-style: none;
}

.nav__item {
    width: 100%;
    height: 100%;

    display: flex;
    
}

.nav__link {
    text-decoration: none;
    @include text-gradient;
    font-size: $h4;
    padding: 20px;
    width: 100%;
    height: 100%;

    transition: all .2s ease;

    
    &:hover {
        @include text-gradient-pink;
    }
    &.active {
        @include border-gradient-pink;
        @include text-gradient-pink;
    }
}



