.news {
    margin-bottom: 100px;
}

.news__inner {
    display: flex;
    justify-content: center;
    
    @include breakpoint(1400px) {
        flex-direction: column;
        align-items: center;
    }
}

.news__card {
    width: 30%;
    min-width: 300px;

    position: relative;
    padding: 10px;
    margin: 10px 20px;

    text-decoration: none;
    
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    }

    &:hover .news__card__else {
        right: 10px;
    }

    &:hover .news__card__picture img {
        transform: scale(1.2);
    }

    &:hover h5 {
        text-decoration: underline;
    }

    @include breakpoint(1400px) {
        overflow: hidden;
    }
}

.news__card__else {
    width: 130px;
    z-index: 2;
    
    position: absolute;
    right: -10px;
    top: 140px;

    text-align: center;
    padding: 10px;
    background-color: $white;

    transition: all .3s linear;

    span {
        @include text-gradient;
        font-weight: 700;
        letter-spacing: 1.5px;
    }
}

.news__card__top {
    margin-bottom: 20px;
}

.news__card__date {
    text-transform: uppercase;
    color: $non-active;
}

.news__card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news__card__picture {
    width: 300px;
    height: 150px;

    position: relative;
    overflow: hidden;
    
    img {
        @include image-options;
        transition: all .8s ease;
    }
}

.news__card__content {
    @include title-pink($h5);
    padding: 0;
    margin-bottom: 20px;

    transition: all .3s linear;
}