.pop__servants {
    margin-bottom: 100px;
}

.pop__servants__inner {
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    height: 550px;
}

.pop__servants__picture,
.pop__servants__content {
    width: 50%;
    padding: 20px;
}

.pop__servants__picture {
    position: relative;
}

.pop__servants__background {
    width: 600px;
    height: 580px;
}

.pop__servants__background-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.pop__servants__images__item {
    height: 220px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.images__item__photo {
    @include image-options;
}

.images__item1 {
    width: 300px;
    left: 200px;
    top: 100px;
}

.images__item2 {
    width: 230px;
    left: 240px;
    top: 280px;
}

.images__item3 {
    width: 280px;
    left: 400px;
    top: 170px;
}

.pop__servants__item {
    display: flex;
    align-items: center;
    
    padding: 10px;

    box-shadow: 0 4px 4px rgba(0,0,0,0.2), 0 5px 15px rgba(0,0,0,0.2);
    
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.pop__servants__button {
    height: 100%;
    padding: 15px 0;

    border-right: 1.5px solid $non-active;
}

.pop__servants__descr {
    padding-left: 15px;
}

.pop__servants__title {
    margin: 10px 0;
    font-size: $h4;
    color: $maintext;
}

.pop__servants__text {
    @include main-text;
}
