
.reviews {
    margin-bottom: 100px;
    position: relative;
}

.reviews__wrapper {
    position: relative;
}

.reviews__inner {
    display: flex;
}

.reviews__picture {
    width: 50%;
    height: 600px;

    img {
        @include image-options;
    }

    @include breakpoint(1250px) {
        width: 80%;
    }

    @include breakpoint($mobile-bp) {
        width: 100%;
    }

    @include breakpoint(450px) {
        height: 550px;
    }

    @include breakpointHeight(450px) {
        height: 450px;
    }
}

.reviews__title {
    width: 50%;

    padding-left: 60px;
    padding-top: 15px;
    font-size: 32px;
    line-height: 45px;

    @include breakpoint(1250px) {
        font-size: 25px;
        line-height: 25px;
        padding-top: 20px;
        padding-left: 20px;
    }

    @include breakpoint($mobile-bp) {
        font-size: 20px;
        position: absolute;
        right: 25px;
    }

    @include breakpoint(450px) {
        width: 70%;
    }

    @include breakpointHeight(450px) {
        width: 100%;
        text-align: center;
    }
}

.reviews__slider {
    overflow: hidden;
    position: absolute;
    top: 300px;
    right: 0;
    width: 900px;

    &:hover .slider__arrow {
        opacity: .8;
    }

    @include breakpoint(1150px) {
        width: 740px;
    }

    @include breakpoint($mobile-bp) {
        width: 575px;
        top: 230px;
        left: 50%;
        transform: translateX(-50%);
    }

    @include breakpoint($mobile-bp-small) {
        width: 450px;
    }

    @include breakpoint(450px) {
        width: 375px;
    }

    @include breakpoint(375px) {
        width: 325px;
    }
}

.reviews__slider__inner {
    display: flex;
}

.reviews__slider__item {
    background: $secondary-opacity;
    height: 375px;
    padding: 50px 100px;

    @include breakpoint($mobile-bp-small) {
        padding: 30px 50px;
    }

}

.reviews__header {
    display: flex;
    justify-content: space-between;
}

.reviews__name {
    @include title($h5);
    color: $maintext;
    letter-spacing: 2px;

    padding: 15px 0;

    @include breakpointHeight(450px) {
        font-size: $maintextsize;
        padding: 10px 0;
    }
}

.reviews__prof {
    letter-spacing: 2px;
}

.reviews__photo {
    width: 100px;
    height: 100px;
    margin-left: 20px;

    img {
        @include image-options;
    }

    @include breakpointHeight(450px) {
        width: 70px;
        height: 70px;
    }
}


.reviews__text {
    font-size: 15px;
    line-height: 20px;

    margin-top: 30px;

    @include breakpoint($mobile-bp) {
        text-align: center;
    }
}

.reviews__slider__arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all .8s ease;
}

.arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($mobile-bp-small) {
        right: 1px;
    }
}

.arrow-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($mobile-bp-small) {
        left: 1px;
    }
}

.slider__arrow {
    font-size: 35px;
    color: $bodybackground;
    // opacity: 0;
    transition: all .5s ease;
}