
.reviews {
    margin-bottom: 100px;
    position: relative;
}

.reviews__wrapper {
    position: relative;
}

.reviews__inner {
    display: flex;
}

.reviews__picture {
    width: 50%;
    height: 600px;

    img {
        @include image-options;
    }
}

.reviews__title {
    width: 50%;

    padding-left: 60px;
    padding-top: 15px;
    font-size: 32px;
    line-height: 45px;
}

.reviews__slider {
    position: absolute;
    top: 300px;
    right: 0;

    display: flex;

    &:hover .slider__arrow {
        opacity: .8;
    }
}

.reviews__slider__item {
    background: $secondary-opacity;
    width: 450px;
    height: 380px;
    padding: 50px;
    padding-right: 100px;
}

.reviews__header {
    display: flex;
    justify-content: space-between;
}

.reviews__name {
    @include title($h5);
    color: $maintext;
    letter-spacing: 2px;

    padding: 15px 0;
}

.reviews__prof {
    letter-spacing: 2px;
}

.reviews__photo {
    width: 100px;
    height: 100px;
    margin-left: 20px;

    img {
        @include image-options;
    }
}

.reviews__text {
    font-size: 15px;
    line-height: 20px;

    margin-top: 30px;
}

.reviews__slider__arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background-color: $primary-opacity;
    }
    
}

.slider__arrow {
    font-size: 35px;
    color: $bodybackground;
    opacity: 0;
    transition: all .5s ease;
}