.services {
    margin-bottom: 100px;
}

.services__list__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all 8s ease;
}

.services {
    &:hover .services__list__background {
        transform: scale(1.4);
    }
}

.services__inner {
    display: flex;
}

.services__list {
    width: 40%;
}

.services__details {
    width: 60%;
}

.services__list__top {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.services__list__title {
    font-size: $h4;
    color: $non-active;
    padding: 10px 20px;
    border: none;
    background-color: transparent;

    transition: color .2s ease;

    &:not(:last-child) {
        border-right: 1.5px solid $non-active;
    }

    &.active {
        color: $pink;
    }

    &:hover {
        color: $pink;
    }
    
}

.services__price__list {
    list-style: none;
    width: 100%;
    padding: 20px;
}

.price__list__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 0;
    border-bottom: 1px solid $non-active;
    
    cursor: pointer;
    transition: all .2s ease;

    &:not(:last-child) { 
        margin-bottom: 10px;
    }

    &:hover .price__list__name {
        color: $pink;
    }

    &.active {
        border-bottom: 1px solid $pink;
        color: $pink;
    }

    &.active .price__list__name {
        color: $pink;
    }
}

.price__list__name {
    @include main-text;
    font-size: $h5;
    padding-right: 10px;
    transition: all .2s ease;
}

.price__list__cost {
    font-size: $h5;
    color: $pink;
    font-weight: 600;
    min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price__list__btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.services__details {
    padding: 0 40px;
}

.services__image {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;

    img {
        @include image-options;
    }
}

.services__details__name {
    font-size: $h4;
    margin-bottom: 20px;
}

.services__details__cost {
    max-width: 90px;
    margin-bottom: 20px;
    color: $maintext;
}

.services__details__descr {
    @include main-text;
}


