.btn__else {
    padding: 3px;
    text-decoration: none;
    color: $footnote;
    font-size: 15px;
    opacity: .7;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all .2s ease;

    &:hover {
        opacity: 1;
    }

    &:hover .else__arrow {
        animation: else-arrow  1.5s linear infinite;
    }
}

.else__arrow {
    padding-left: 5px;
    text-decoration: none;
    color: $footnote;
}

@keyframes else-arrow {
    50% {
        transform: translateX(10px);
    }
}