//из-за градиента текста бэкграуд прозрачный. 
// Блеск будет некрасиво ховериться на тёмном фоне.

.btn__gold {
    @include border-gradient;
    @include text-gradient;

    position: relative;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    margin: 10px;
    padding: 20px;
    
    font-weight: 700;
    letter-spacing: 1.5px;

    min-width: 150px;
    height: 60px;
    
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;

    &--read {
        min-width: 120px;
        height: 40px;
        padding: 10px;
    }

    &--pricelist {
        min-width: 280px;
    }
}

.btn__gold:hover,
.btn__gold:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}

.btn__gold:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, transparent, rgba(255,255,255,0.5), transparent);
    transition: left 0.7s;
}

.btn__gold:hover:before,
.btn__gold:focus:before {
    left: 100%;
}