.section__title {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    
    h2 {
        @include title($h2);
        padding: 10px 40px;
        margin: 0 auto;
        width: 70%;
        @include border-gradient-title-pink;
        font-family: $font-family-section;
    
        color: $pink;
        font-weight: 600;
    }
}
