$white:#fff;
$black:#000000;

//background
$bodybackground:#fff8f7;
$primary-header: #fee5e9d8;
// $primary-header: #fee5e9;
$primary: #fcdcd7;
$primary-opacity: #fcdcd779;
$primary-modal: #fcdcd7c2;
$secondary: #ffacaf;
$secondary-opacity: #ffacafee;  
$pink: #ff798e; 


//text
$maintext: #555555;
$non-active: #5555554f;
$title: #1e2528de;

$maintextsize: 15px;
$secondtextsize: 12px;
$h1: 60px; //lh 60
$h2: 42px;
$h3: 22px;
$h4: 20px; //15
$h5: 18px;

$font-family-main: 'Roboto', sans-serif;
$font-family-title: 'Lato', serif;
$font-family-extra: 'Cormorant Infant', serif;
$font-family-section: 'Bad Script', cursive;

//gradient
$grad1: #b58b43;
$grad2: #d5b87a;
$grad3: #f6e6b5;

//z-index
$z-index-header:  1000;
$header-height: 80px;
$nav-width: 250px;

//media
$tablet-bp: 990px;
$mobile-bp: 770px;
$mobile-bp-thin: 375px;

@mixin main-text() {
    font-size: 15px;
    line-height: 27px;
    color: $maintext;
}

@mixin title($fontsize) {
    font-family: 'Lato', sans-serif;
    font-size: $fontsize;
    font-weight: 700;
    color: $title;
    line-height: 1.2;
}

@mixin title-pink($fontsize) {
    font-family: $font-family-title;
    font-size: $fontsize;
    font-weight: 300;
    line-height: 27px;
    color: $pink;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@mixin title-gradient() {
    background-image: linear-gradient(to top, $grad1 22%, $grad2 55%, $grad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin text-gradient() {
    background-image: linear-gradient(-65deg, $grad1 32%, $grad2 55%, $grad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
//для наведения
@mixin text-gradient-pink() {
    background-image: linear-gradient(-65deg, $pink, $pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin border-gradient() {
    border: 2px solid transparent;
    border-image: linear-gradient(-45deg, $grad1 32%, $grad2 45%, $grad3);
    border-image-slice: 1;
}
@mixin border-gradient-pink() {
    border-right: 3px solid transparent;
    border-image: linear-gradient(180deg, transparent, $pink, transparent);
    border-image-slice: 1;
}
@mixin border-gradient-title-pink() {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, transparent, $pink, transparent);
    border-image-slice: 1;
}

@mixin image-options() {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(45deg, $pink, $bodybackground);
}

@mixin breakpoint($bp) {
    @media (max-width: $bp) {
        @content;
    }
}