$white:#fff;
$black:#000000;

//background
$bodybackground:#fff8f7;
$primary: #fcdcd7; 
$secondary: #ffacaf;
$secondary-opacity: #ffacafee;  
$pink: #ff798e; 
$brightpink: #ff3175; 


//text
$maintext: #555555;
$non-active: #5555554f;
$footnote: #b58b43;
$title: #1e2528de;

$maintextsize: 15px;
$secondtextsize: 12px;
$h1: 60px; //lh 60
$h2: 42px;
$h3: 22px;
$h4: 20px; //15
$h5: 18px;

$font-family-main: 'Roboto', sans-serif;
$font-family-title: 'Lato', serif;
$font-family-extra: 'Cormorant Infant', serif;
$font-family-section: 'Bad Script', cursive;

//gradient
$grad1: #b58b43;
$grad2: #d5b87a;
$grad3: #f6e6b5;

//z-index
$z-index-header:  1000;
$header-height: 80px;
$nav-width: 250px;

//media
$tablet-bp: 991px;
$mobile-bp: 575px;
$mobile-bp-thin: 375px;

@mixin main-text() {
    font-size: 15px;
    line-height: 27px;
    color: $maintext;
}

@mixin title($fontsize) {
    font-family: 'Lato', sans-serif;
    font-size: $fontsize;
    font-weight: 700;
    color: $title;
    line-height: 1.2;
}

@mixin title-gradient() {
    background-image: linear-gradient(to top, $grad1 22%, $grad2 55%, $grad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin text-gradient() {
    background-image: linear-gradient(-65deg, $grad1 32%, $grad2 55%, $grad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin text-gradient-pink() {
    background-image: linear-gradient(-65deg, $pink, $pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin border-gradient() {
    border: 2px solid transparent;
    border-image: linear-gradient(-45deg, $grad1 32%, $grad2 45%, $grad3);
    border-image-slice: 1;
}
@mixin border-gradient-pink() {
    border-right: 3px solid transparent;
    border-image: linear-gradient(180deg, transparent, $pink, transparent);
    border-image-slice: 1;
}
@mixin border-gradient-title-pink() {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, transparent, $pink, transparent);
    border-image-slice: 1;
}