@import "~normalize.css";
@import "vars";


html {
    font-size: 15px;
}

body {
    background-color: $bodybackground;
    font-family: 'Roboto', sans-serif; //'Andada Pro', serif, 'Rufina', serif;
    color: $maintext;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



/* Blocks */
@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/navigation";
@import "blocks/elements/button";
@import "blocks/elements/social-menu";
@import "blocks/elements/section-title";
@import "blocks/elements/btn-else";
@import "blocks/pop-servants";
@import "blocks/services";
@import "blocks/galery";
@import "blocks/team";
@import "blocks/instagram";
@import "blocks/news";
@import "blocks/footer";
@import "blocks/footer-wave";














