@import "~normalize.css";
@import "vars";


html {
    font-size: $maintextsize;
}

body {
    background-color: $bodybackground;
    font-family: $font-family-main;
    color: $maintext;

    // overflow-y: hidden;

    // &.scroll {
    //     overflow-y: visible;
    // }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



/* Blocks */
@import "blocks/page";
@import "blocks/preloader";
@import "blocks/container";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/navigation";
@import "blocks/elements/button";
@import "blocks/elements/social-menu";
@import "blocks/elements/section-title";
@import "blocks/pop-servants";
@import "blocks/services";
@import "blocks/galery";
@import "blocks/reviews";
@import "blocks/news";
@import "blocks/contact-form";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/footer-wave";

@import "blocks/elements/btn-top";
@import "blocks/modal";
@import "blocks/modal-signup";
@import "blocks/modal-map";

@import "blocks/blog";
@import "blocks/blog-menu";
@import "blocks/blog-content";
@import "blocks/blog-post";














